*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color:aliceblue ;
    padding:40px 0;
}
h2 {
    font-size: 28px;

}
h1 {
    font-size: 36px;
}
span {
    color: grey;
}
img {
    border-radius: 50%;
}
section, header {
    padding: 10px 60px 20px 60px;
    background-color: whitesmoke;
    width: 960px;
    margin: 0 auto 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    list-style: none;
}
header li {
    margin-bottom: 15px;
}
.address-icon {
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
    border-radius: 50%;
}
.profile-picture {
    width: 180px;
    height: 180px;
}
.hobbies ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.hobbies .address-icon {
    background-color: #6495ed00;
}
